* {
    margin: 0;

    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");


:root {

    --card-width: 300px;
    --card-height: 400px;

    --card-transition-duration: 400ms;
    --card-transition-easing: ease;
    --color1: #000000;
    --color2: #ff6f00;
    --color3: #010101;
    --color4: #101010;
    --color6: #1c1e21;

    --color7: #efefef;
    --color-lines: rgba(0, 0, 0, .3);

    --scroll-size: 4px;
    --scroll-radius: 5px;
    --scroll-track: #020202;
    --scroll-thumb-color: #ef7800;

    --framer-letter-spacing: 0px;

    --clippy: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 41% 100%, 35% 100%, 100% 100%, 100% 0%);
}

/*Configuracion para modificar el Scroll de la pajina*/
body {
    background: var(--color7);
    /* background: linear-gradient(to bottom, var(--color7) 0%, var(--color6) 90%); */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: var(--scroll-size, 10px);
    height: var(--scroll-size, 10px);
}

body::-webkit-scrollbar-track {
    background-color: var(--scroll-track, solid);
    border-radius: var(--scroll-track-radius, var(--scroll-radius));
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, var(--color2));
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

canvas {
    display: block;
}



/* .noise::before{
    position: fixed;
  
    width: 100%;
    height: 100%;
    content: "";
    opacity: .05;
    
    pointer-events: none;
    background: url(./assets/noise.gif);
} */




/*HEADER*/
.header {

    background: var(--color6);
    padding: 7px;
    opacity: 1;





}

.header__nav {
    position: relative;


}

.header__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
    align-items: center;

}

.header__section {


    color: var(--color7);
    /*Color Texto - header*/
    font-family: "Michroma", sans-serif;
    font-size: 10px;

    font-style: normal;



}

.header__section img {
    width: 100px;
}

.header__section--center {
    display: flex;


}

.header__list {
    display: flex;
    list-style: none;
}

.header__li {
    padding: 6px 20px;


}

.header__list--center {
    flex: 0 0 40%;
    display: flex;
}

.header__section--left {
    flex: 0 0 20%;
}

/* .header__list--right {

} */

.header__button {


    border-radius: 0px;
    background: var(--color5);
    border-color: var(--color4);


}

.header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transform: translateY(-50%);
    background-color: var(--color4);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);


    opacity: 0;
    visibility: hidden;

    transition: 0.5s cubic-bezier(0.75, 0, 0, 1);
}

.section__banner {
    display: flex;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    height: 85vh;
    justify-content: center;
    overflow: visible;
    position: relative;
    border-bottom: 1px solid var(--color-lines);

}

.banner__recuadros {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}

.section__banner--recuadros {
    flex: 1;
    width: 100px;
    height: 85vh;

    border-right: 1px solid var(--color-lines);
    margin: 0 5px;


}

.recuadro4 {
    border-right: 0px;

}

.section__banner--container {

    font-family: "Michrima", monospace;

    font-style: normal;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;

    gap: 0px;
    padding: 0;
    height: min-content;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1;



}

.banner__div--h1 {
    color: var(--color4);
    font-size: 110px;



}

.banner__div--p {
    color: var(--color2);
    font-size: 110px;

}

.banner__div--h2 {
    color: var(--color4);
    font-size: 110px;

}

.section__banner--p {
    color: var(--color1);
}

/* .caja__tejido {

    position: relative;
    padding: 0;
    margin: 0;

} 

.esquina {
    position: absolute;

    width: 5px;
    /* ajusta el tamaño del margen 
    height: 5px;
    /* ajusta el tamaño del margen 


} */

/* .esquina--superior-izquierda {
    top: 0;
    left: 5px;
    border-left: 1px solid var(--color7);
    border-top: 1px solid var(--color7);
}

.esquina--superior-derecha {
    top: 0;
    right: 5px;
    border-top: 1px solid var(--color7);
    border-right: 1px solid var(--color7);
}

.esquina--inferior-izquierda {
    bottom: 5px;
    left: 5px;
    border-bottom: 1px solid var(--color7);
    border-left: 1px solid var(--color7);
}

.esquina--inferior-derecha {
    bottom: 5px;
    right: 5px;
    border-bottom: 1px solid var(--color7);
    border-right: 1px solid var(--color7);
} */

.contenido {
    padding: 8px 15px;

}

/* SECCION #2 */





.section__jobs {
    max-width: 100%;

    padding: 0px;
    display: block;
    margin: 190px 190px;


}

.section__jobs--title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: "Georgia", "Helvetica Neue";
    white-space: nowrap;
    color: var(--color1);
    position: relative;
}

.section__jobs--title::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 80%;
    border-bottom: 1px solid var(--color-lines);
    /* Puedes ajustar el color y el estilo de la línea aquí */
    transform: translateY(-50%);
    margin-left: 230px;
}

.section__jobs--container {
    display: flex;
    list-style: 1.3;
    transition: all 500ms ease;


}

.jobs__TabList {
    position: relative;

    width: max-content;
    padding: 0px 80px 0px 0px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.jobs__StyledTabButton-sc {
    text-decoration: none;
    border: none;
    text-decoration-skip-ink: auto;
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: 62px;
    padding: 0px 40px 2px;
    border-left: 2px solid var(--color1);


    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;


}

.jobs__StyledTabButton-sc:hover {
    border-left: 2px solid #ff6f00;

}

.jobs__TabPanel {
    margin-left: 20px;
    /* background: #ff6f00; */
    border: 2px solid var(--color-lines);
    position: relative;
}

.jobs__StylePanel-sc {
    padding: 10px 5px;
}


.Qghxr {
    margin-bottom: 2px;
    line-height: 1.3;
    font-weight: 300;
    margin: 0px 0px 10px;


}

.Qghxr ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

}

.Qghxr ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.Qghxr ul li::before {
    content: "⠞";
    /*⋮, ⊕,∎,⊷⠞,▶,⦿*/
    position: absolute;
    left: 0px;
    color: var(--color2);

}



.tab-0:hover {
    background-color: #bbc0c76c;
    position: relative;
    overflow: hidden;

}


[data-content] {
    display: none;
}

.active[data-content] {
    display: block;
}


/* Seccion contenedor de imagenes */